:root {
  --primary-color: #fcfbfa;
  --primary-color-effect: #beb3d8;
  --second-color: #320A8D;

  --primary-text: #320A8D;
  --primary-text-effect: #320A8D;
  --second-text: #320A8D;

  --table-header-background-color: #320A8D;
}

* {
  box-sizing: border-box;
}

a, a:hover, a:active {
  text-decoration: none !important;
}


/* ====================Header==================== */
.header-container {
}

.header-container .MuiToolbar-root {
}

/* ====================Select & Search===================== */
#menu->.MuiPaper-root {
  /* background-color: var(--second-color); */
}
#menu->.MuiPaper-root li {
  transition: all 0.3s;
}
#menu->.MuiPaper-root li.Mui-selected {
  background-color: rgba(189, 91, 0, 0.438);
}
#menu->.MuiPaper-root li:hover {
  background-color: rgb(183 89 0 / 78%);
}


.search-wrap #network-select {
  color: var(--primary-text);
}

/* ---------------------------------------------------------------- */
.MuiInputLabel-formControl {
  color: var(--primary-text);
}

.MuiInputLabel-formControl.Mui-focused {
  color: var(--primary-text-effect) !important;
}

.search-wrap fieldset.MuiOutlinedInput-notchedOutline {
  border: 2px solid var(--second-color);
}

.search-wrap .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color-effect) !important;
}

.search-wrap .Mui-focused fieldset.MuiOutlinedInput-notchedOutline legend {
  color: var(--primary-color);
}
.search-wrap #mui-1 {
  color: var(--primary-text);
}
/* ====================Table===================== */
.main-container {
  border-radius: 5px !important;
  border-width: 1px !important;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgb(204, 199, 199) !important;
}
.main-container table {
  color: var(--primary-text) !important;
}
.main-container table td,.main-container table th {
  border-bottom: 1px solid var(--primary-color-effect)!important;
  padding: 10px 10px 10px 20px;
}
.main-container table th {
  background-color: var(--table-header-background-color);
  color: white;
}
.table-wrap {
  /* background-color:#d6ff9069!important; */
}

/* ====================TableFooter===================== */
.table-footer {
  padding: 20px 16px 16px 16px;
}

.table-footer>div {
  color: var(--primary-color);
  padding: 5px 0px;
}

.table-footer a {
  text-decoration: none !important;
  color: var(--primary-text);
  font-weight: 600;
}

.table-footer p {
  color: var(--second-color);
}

/* ====================Footer===================== */
.footer-container {
  background-color: var(--primary-color) !important;
  color: #320A8D;
  padding: 15px;
  border-radius: 0px!important;
}

.footer-container a {
  color: #320A8D;
}

.footer-container div {
  padding: 0px !important;
}

.color--01 {
  color: #6309FF
}

.color--02 {
  color: #24046D
}

.color--03 {
  color: #320A8D
}

.table-pagenation button {
  background-color: #F0F2FC !important;
  border-radius: 3px !important;
  margin: 3px;
}

.table-pagenation p:nth-child(4) {
  background-color: #F0F2FC !important;
  border-radius: 3px !important;
  margin: 3px;
  padding: 8px;
}

.table-pagenation div[variant=standard] {
  background-color: #F0F2FC !important;
  border-radius: 3px !important;
  margin: 3px;
  margin-left: 10px;
  padding: 3px;
}
.MuiTablePagination-actions {
  margin-left: 0 !important;
}

li {
  list-style: none;
}

.footer-img-link {
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.footer-img-link li {
  margin: 0 20px;
}

.footer-img-link img {
  width: 30px;
}

.footer-text-link {
  margin: 0;
}

.footer-text-link a {
  color: #320A8D;
  font-size: 20px;
}

.footer-text-link li {
  margin-bottom: 25px;
  text-align: right;
}

.footer-img-link-margin {
  margin-top: 100px;
}

.paddingX {
  padding-left: 60px;
  padding-right: 60px;
}

@media (max-width: 902px) {
  .footer-img-link-margin {
    margin-top: 20px;
  }
}