:root {
  --primary-color: #fcfbfa;
  --primary-color-effect: #be3b03;
  --second-color: #952d00;

  --primary-text: #702200;
  --primary-text-effect: #b73508d4;
  --second-text: #bd7823b8;
}

* {
  box-sizing: border-box;
}


/* ====================Header==================== */
.header-container {
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.8) !important;
}

.header-container .MuiToolbar-root {
  background-color: var(--primary-color);
}

/* ====================Select & Search===================== */
#menu->.MuiPaper-root {
  background-color: var(--second-color);
}
#menu->.MuiPaper-root li {
  transition: all 0.3s;
}
#menu->.MuiPaper-root li.Mui-selected {
  background-color: rgba(189, 91, 0, 0.438);
}
#menu->.MuiPaper-root li:hover {
  background-color: rgb(183 89 0 / 78%);
}


.search-wrap #network-select {
  color: var(--primary-text);
}

/* ---------------------------------------------------------------- */
.MuiInputLabel-formControl {
  color: var(--primary-text);
}

.MuiInputLabel-formControl.Mui-focused {
  color: var(--primary-text-effect) !important;
}

.search-wrap fieldset.MuiOutlinedInput-notchedOutline {
  border: 1px solid var(--primary-color);
}

.search-wrap .Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color-effect) !important;
}

.search-wrap .Mui-focused fieldset.MuiOutlinedInput-notchedOutline legend {
  color: var(--primary-color);
}
.search-wrap #mui-1 {
  color: var(--primary-text);
}
/* ====================Table===================== */
.main-container {
  background-color: rgba(0, 0, 0, 0.03) !important;
  border-radius: 0px !important;
  border: 1px solid rgb(235 0 0 / 9%) !important;
  border-width: 1px !important;
  width: 100%;
  box-shadow: 0px 55px 102px -87px var(--primary-color) !important;
  color: var(--primary-text) !important;
}
.main-container table {
  color: var(--primary-text) !important;
  border: 1px solid var(--primary-color-effect);
}
.main-container table td,.main-container table th {
  border-bottom: 1px solid var(--primary-color-effect)!important;
  padding: 10px 10px 10px 20px;
}
.main-container table th {
  background-color: var(--primary-color);
  box-shadow: 0px 15px 37px -11px var(--primary-color);
  color: #320A8D;
}
.table-wrap {
  background-color:#d6ff9069!important;
}

/* ====================TableFooter===================== */
.table-footer {
  padding: 20px 16px 16px 16px;
}

.table-footer>div {
  color: var(--primary-color);
  padding: 5px 0px;
}

.table-footer a {
  text-decoration: none !important;
  color: var(--primary-text);
  font-weight: 600;
}

.table-footer p {
  color: var(--second-color);
}

/* ====================Footer===================== */
.footer-container {
  background-color: var(--primary-color) !important;
  color: #320A8D;
  padding: 15px;
  border-radius: 0px!important;
}

.footer-container a {
  color: #320A8D;
}

.footer-container div {
  padding: 0px !important;
}

.color--01 {
  color: #6309FF
}

.color--02 {
  color: #24046D
}

.color--03 {
  color: #320A8D
}